<!DOCTYPE html>
<html>
	<head>
		<title>OpShit</title>
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
		<style type="text/css">
			body {
			  margin: 0;
			  font-family: 'Rajdhani', sans-serif;
			  background-color: #f4f4f4;
			}

			a {
			  color: #000;
			  font-family: 'Rajdhani';
			  font-weight: bold; 
			  font-size: 20px; 
			  text-decoration: none;
			}
		</style>
	</head>
	<body>
		<center>
			<br><br><br><br><br><br><br><br>
			<img src="img/opshit-small.png">
			<h1 style="font-family: 'Rajdhani', sans-serif;">The NodeJS Framework for Smart Back-End</h1>
			<a target="_blank" href="https://opshit.netlify.app/">Docs</a>
		</center>
	</body>
</html>