<%- include('layout/Header.ejs') %>
<center>
	<br><br><br><br><br><br><br><br><br>
	<img src="img/opshit-small.png">
	<h1 style="font-family: 'Rajdhani', sans-serif;">The NodeJS Framework for Smart Back-End</h1>
	<a style="font-family: 'Rajdhani';font-weight: bold; font-size: 20px; text-decoration: none;" target="_blank" href="https://opshit.github.io/">Docs</a>
</center>


